---
import Title from '../Title.astro'
---

<section id="about" class="container md:flex md:flex-col md:place-content-center">
    <Title title="About Me"/>
    <img src="../../public/images/avatar.svg" alt="avatar image" class="hidden md:block md:w-52">
    <div>
        <p class="text-center mx-4 my-10 text-xl">I am Jose Cabrales, web developer from Cuba. I have rich experience in web site design and building and customization, also I am good making video games</p>
        <h2 class="font-semibold text-center text-3xl  tracking-widest underline decoration-orange-400 py-6">Abilities</h2>
        <div class="grid grid-cols-5 grow place-items-center place-content-around py-10 mx-4 rounded border border-white">
            <img src="../../public/images/html5-logo.png" alt="html5 logo" class="w-14">
            <img src="../../public/images/css3-logo.png" alt="css logo" class="w-16">
            <img src="../../public/images/javascript-logo.png" alt="Javascript logo" class="w-14">
            <img src="../../public/images/tailwindcss-logo.png" alt="tailwind logo" class="w-14">
            <img src="../../public/images/astro-icon.png" alt="astro logo" class="w-10">
        </div>
    </div>
</section>