---
import Title from "../Title.astro";
---

<section id="experience">
    <Title title="Experience"/>
    <h1 class="text-center font-semibold text-2xl">I don't have any real experience yet :) [2024/6/6]</h1>
</section>