---
import Card from '../Card.astro'
import Title from '../Title.astro'
---

<section id="services">
    <Title title="Services"/>
    <div class="flex flex-col justify-evenly px-12 gap-6">
        <Card image="../../../public/images/interface-design.png" title="UI/UX design"/>
        <Card image="../../../public/images/web-development.png" title="Web Development"/>
        <Card image="../../../public/images/photography.svg" title="Photography"/>
    </div>
    <h2 class="text-center text-xl my-10 mx-10 text-gray-100">Looking for a custom job? <a href="#contact" class="text-red-500">Click here</a> to contact me</h2>
</section>