---
import Title from "../Title.astro";
import WorksCard from "../WorksCard.astro";
---

<section id="works">
    <Title title="Recent Works"/>
    <div class="flex flex-col gap-6 px-10">
        <WorksCard image="../../../public/images/work-1.svg" title="Mobile App"/>
        <WorksCard image="../../../public/images/work-2.svg" title="Web App"/>
        <WorksCard image="../../../public/images/work-3.svg" title="Mobile Game"/>
    </div>
</section>